html{height:100%;}
body{height:100%;}
.imgShowMdl{height:74%;padding:5vmin 5vmin 0;background-image:url('../../img/4.jpg');}
.imgEditMdl{height:26%;border-top:1px solid #ccc;}
.docDetectMdl{height:26%;border-top:1px solid #ccc;}
.switchImgMdl{height:10%;border-top:1px solid #ccc;}
.btn-showThumbnail{position:absolute;left:0;top:0;width:32px;height:32px;border:0;background:transparent;}
.addUplMdl{height:16%;padding:5vmin;border-top:1px solid #ccc;}
.addUplMdl > button{width:30%;height:100%;border:1px solid #ccc;border-radius:10px;font-size:5vmin;background-color:transparent;margin-left:5%;}
.addUplMdl > button.btn-grab{}
.addUplMdl > button.btn-showVideo{border-color:#fe8e14;background-color:#fe8e14;color:white;}
.addUplMdl > button.btn-download{}
.addUplMdl > button:first-child{margin-left:0;}
.thumbnailMdl{position:absolute;left:0;top:0;width:100%;height:100%;background:white;}
.thumbnailMdl > .div-topbar{height:41px;border-bottom:1px solid #ccc;}
.thumbnailMdl > .div-topbar > .lb-deleteMode{height:40px;position:absolute;top:0;right:0;line-height:40px;}
.thumbnailMdl > .div-thumbnailContainer{height:calc(100% - 41px);overflow:auto;}
.thumbnailMdl > .div-thumbnailContainer > .div-thumbnailBox{width:20vmin;height:20vmin;display:inline-block;position:relative;}
.thumbnailMdl > .div-thumbnailContainer > .div-thumbnailBox > .kPainterThumbnailCanvas{width:100%;height:100%;}
.thumbnailMdl > .div-thumbnailContainer > .div-thumbnailBox > .div-trashFog{display:none;width:100%;height:100%;position:absolute;left:0;top:0;background:rgba(0,0,0,0.3);}
.thumbnailMdl.inDeleteMode > .div-thumbnailContainer > .div-thumbnailBox > .div-trashFog{display:block;}
.thumbnailMdl > .div-thumbnailContainer > .div-thumbnailBox > .div-trashFog > svg{position:absolute;left:0;top:0;right:0;bottom:0;margin:auto;}
.grayFog{position:fixed;top:0;left:0;width:100%;height:100%;background-color:rgba(0,0,0,0.3);z-index:1;}
.spinner{width:20vmin;height:20vmin;margin:auto;position:absolute;top:0;bottom:0;left:0;right:0;}
.double-bounce1, .double-bounce2{position:absolute;left:0;top:0;width:100%;height:100%;border-radius:50%;background-color:rgba(103,207,34,0.6);animation: bounce 2.0s infinite ease-in-out;}
.double-bounce2{animation-delay: -1.0s;}
@keyframes bounce{
	0%, 100%{transform: scale(0.0);}
	50%{transform: scale(1.0);}
}

