kPainter.js
mbc-*temp.js
js/*
!js/api.md
!js/cv*
!js/kConsole.js
!js/legal.txt
!js/mbc-2.1.3.min.js
!js/mbc-2.1.3.jq.min.js
!js/pdf*
!js/script.js
!js/test.js
!js/tiff.min.js
!js/vue.js
!js/webrtc-adapter.js
ignoreTemp
