<!DOCTYPE html>
<html>
<head>
    <title>Test MBC</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <link rel='stylesheet' href='css/cssResetH5.css?v=20170728' />
	<link rel='stylesheet' href='css/mbc-2.1.3.css?v=20180103.7' />
	<link rel='stylesheet' href='css/test.css?v=20181214.1' />
</head>
<body>
    <div id="app-testMbc" v-bind:style="style">
        <div id="mdl-view" v-once>
            <div id="div-thumbnailBox"></div
            ><p>drop images here</p>
        </div
        ><div id="mdl-detect">
            <label>getCurIndex(): <span v-text="curIndex"></span></label>
            <label>getCount(): <span v-text="count"></span></label>
            <label>isEditing(): <span v-text="isEditing"></span></label>
            <label>getMode(): <span v-text="mode"></span></label>
            <br>
            <label>getWidth(): <span v-text="width"></span></label>
            <label>getHeight(): <span v-text="height"></span></label>
            <label>getZoom(): <span v-text="zoom"></span></label>
            <br>
            <label>getEditWidth(): <span v-text="editWidth"></span></label>
            <label>getEditHeight(): <span v-text="editHeight"></span></label>
            <br>
            <label>getCurStep(): <span v-text="curStep"></span></label>
            <label>getStepCount(): <span v-text="stepCount"></span></label>
            <label>getProtectedSteps(): <span v-text="protectedSteps"></span></label>
            <br>
            <label>getCropRectArea(true): <span v-text="cropRectArea"></span></label>
            <br>
            <label>getFreeTransformCornerPos(): <span v-text="freeTransformCornerPos"></span></label>
        </div
        ><div id="mdl-fun">
            <hr>
            Global:
            <label v-on:click="loadCvScript">loadCvScript()</label>
            <hr>
            Image Store:
            <label>defaultFileInput.accept = <input v-model="defaultFileInputAccept"></label>
            <label><input v-model="defaultFileInputMultiple" type="checkbox">defaultFileInput.multiple</label>
            <label v-on:click="showFileChooseWindow" style="background:orange">showFileChooseWindow()</label>
            <label v-on:click.self="addImage(addImageSrc)">addImage(<input v-model="addImageSrc">)</label>
            <label>addedImageMaxWH = <input v-model="addedImageMaxWH" type="number"></label>
            <label><input v-model="isShowNewImgWhenAdd" type="checkbox">isShowNewImgWhenAdd</label>
            <label v-on:click.self="changePage(changePageCmd)">changePage(<input v-model="changePageCmd">)</label>
            <label v-on:click.self="movePage(movePageToIndex)">movePage(<input v-model="movePageToIndex">)</label>
            <label v-on:click="del">del()</label>
            <label v-on:click.self="download(downloadFileName)">download(<input v-model="downloadFileName">)</label>
            <hr>
            Gesturer:
            <label>leftDoubleClickZoomRate = <input v-model="leftDoubleClickZoomRate" type="number" step="0.0001"></label>
            <label>rightDoubleClickZoomRate = <input v-model="rightDoubleClickZoomRate" type="number" step="0.0001"></label>
            <label><input v-model="allowedTouchMoveSwitchImgOverBoundary" type="checkbox">allowedTouchMoveSwitchImgOverBoundary</label>
            <label v-on:click.self="setZoom(zoomNum, zoomIsRate)">setZoom(<input v-model="zoomNum" type="number" step="0.0001">, <input v-model="zoomIsRate" type="checkbox">isRate)</label>
            <hr>
            Basic Edit:
            <label v-on:click="enterEdit">enterEdit()</label>
            <label v-on:click="cancelEdit">cancelEdit()</label>
            <label v-on:click.self="saveEdit(saveIsCover)">saveEdit(<input v-model="saveIsCover" type="checkbox">isCover)</label>
            <label>stepImgsGCThreshold = <input v-model="stepImgsGCThreshold" type="number"></label>
            <label v-on:click.self="addProtectedStep(numAddProtectedStep)">addProtectedStep(<input v-model="numAddProtectedStep" type="number">)</label>
            <label v-on:click.self="removeProtectedStep(numRemoveProtectedStep)">removeProtectedStep(<input v-model="numRemoveProtectedStep" type="number">)</label>
            <label v-on:click="undo">undo()</label>
            <label v-on:click="redo">redo()</label>
            <label v-on:click.self="setCurStep(numSetCurStep)">setCurStep(<input v-model="numSetCurStep" type="number">)</label>
            <label v-on:click="rotateRight">rotateRight()</label>
            <label v-on:click="rotateLeft">rotateLeft()</label>
            <label v-on:click="mirror">mirror()</label>
            <label v-on:click="flip">flip()</label>
            <label v-on:click.self="resize(resizeWidth, resizeHeight)">resize(<input v-model="resizeWidth" type="number">, <input v-model="resizeHeight" type="number">)</label>
            <hr>
            Crop:
            <label><input v-model="isAutoShowCropUI" type="checkbox">isAutoShowCropUI</label>
            <label v-on:click="showCropRect">showCropRect()</label>
            <label v-on:click="hideCropRect">hideCropRect()</label>
            <label v-on:click.self="setCropRectStyle(cropRectStyle)">setCropRectStyle(<input v-model="cropRectStyle" type="number">)</label>
            <label>cropRectMinW = <input v-model="cropRectMinW" type="number"></label>
            <label>cropRectMinH = <input v-model="cropRectMinH" type="number"></label>
            <label v-on:click.self="setCropRectArea(cropRectLeft,cropRectTop,cropRectRight,cropRectBottom)">setCropRectArea(<input v-model="cropRectLeft" type="number" step="0.0001">, <input v-model="cropRectTop" type="number" step="0.0001">, <input v-model="cropRectRight" type="number" step="0.0001">, <input v-model="cropRectBottom" type="number" step="0.0001">)</label>
            <label v-on:click="crop">crop()</label>
            <hr>
            Free Transform:
            <label v-on:click="enterFreeTransformMode">enterFreeTransformMode()</label>
            <label v-on:click="exitFreeTransformMode">exitFreeTransformMode()</label>
            <label v-on:click="documentDetect">documentDetect()</label>
            <label v-on:click.self="setFreeTransformCornerPos([[x0,y0],[x1,y1],[x2,y2],[x3,y3]])">setFreeTransformCornerPos([[<input v-model="x0" type="number" step="0.0001">,<input v-model="y0" type="number" step="0.0001">],[<input v-model="x1" type="number" step="0.0001">,<input v-model="y1" type="number" step="0.0001">],[<input v-model="x2" type="number" step="0.0001">,<input v-model="y2" type="number" step="0.0001">],[<input v-model="x3" type="number" step="0.0001">,<input v-model="y3" type="number" step="0.0001">]])</label>
            <label>freeTransformMaxWH = <input v-model="freeTransformMaxWH" type="number"></label>
            <label v-on:click="freeTransform">freeTransform()</label>
            <hr>
            Video:
            <label v-on:click="showVideo" style="background:orange">showVideo()</label>
            <label v-on:click="grabVideo">grabVideo(true)</label>
            <label v-on:click="hideVideo">hideVideo()</label>
        </div
        ><button id="btn-switch-fun">switch fun</button
        ><div id="mdl-log"></div>
    </div>
<script src='js/vue.js'></script>
<script src='js/jquery-3.2.1.slim.min.js'></script>
<script src="js/kConsole.js"></script>
<script src="js/webrtc-adapter.js"></script>
<script src="js/mbc-2.1.3.min.js?v=20181226"></script>
<script src="js/test.js?v=20181214.4"></script>
</body>
</html>